<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917149098997-a89un6pcfe83aqbieghe4uljdrm5hd0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917149098997-a89un6pcfe83aqbieghe4uljdrm5hd0d</string>
	<key>API_KEY</key>
	<string>AIzaSyC7Hzzd2wSonhThvgTVlvlqTHEWG1B0a8I</string>
	<key>GCM_SENDER_ID</key>
	<string>917149098997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutter</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-test-e9a5c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-test-e9a5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917149098997:ios:2fc46d62a0249badfd76bc</string>
</dict>
</plist>